################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RazvojCloudAplikacija_Projekat/FileContentIndex
/Portfolio/.vs/Portfolio/FileContentIndex
