################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RazvojCloudAplikacija_Projekat/FileContentIndex
/Portfolio/.vs/Portfolio/FileContentIndex
/node_modules
/.DS_Store
/.env
/build
/Portfolio/UI/node_modules/.cache/babel-loader
